body{
    background-image: url("reflections-as-animated-gf.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}